body{
   
    background-color: rgb(2, 35, 2);
}
.section1{
    display:flex;
    background-color: rgb(2, 32, 4);
}
.logo-img{
    float: left;

}
#logo{
    max-width: 30%;
}
.navigation{
    float: right;
    margin-right: 0.5em;
    
}
nav{
    font-size: 2em;
    color:black;
    margin-top: 0.8em;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
a{
    color: white;
    text-decoration: none;
    gap: 0.5em;
}
a:hover{
    color:rgb(6, 76, 6); 

}
.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 1em;


}
.content{
    font-family: 'Roboto Serif', serif;
    font-size: 1.76em;
    color: white;
    line-height: 1.5em;
    margin-top: 4.5em;
    margin-left: 2em;
}
#img{
    max-width: 55vw;
}
.reservation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1em;
}
p{
    font-family: 'Roboto Serif', serif;
    font-size: 2em;
    color: white;
}
.labels{
    display: flex; 
    flex-direction: row;
    gap: 5em;
    margin-top: 2.5em;
}
#select{
    font-family: 'Roboto Serif', serif;
    width: 40%;
    height: 65%;
    border: 1px solid;
    border-color: rgb(6, 76, 6);
    border-radius: 2px;
    background-color: rgb(2, 35, 2);
    color: white;
    text-align: left;
    cursor: pointer;

}

#date{
    width: 120%;
    height: 60%;
    font-family: 'Roboto Serif', serif;
    font-size: 28px;
    box-sizing: border-box;
    border: 1px solid;
    border-color:rgb(6, 76, 6); 
    border-radius: 2px;
    background-color: rgb(2, 35, 2);
    color: white;
    text-align: left;
    cursor: pointer;

}
#date-time{
    width: 70%;
    height: 60%;
    font-family: 'Roboto Serif', serif;
    font-size: 28px;
    box-sizing: border-box;
    border: 1px solid;
    border-color:rgb(6, 76, 6); 
    border-radius: 2px;
    background-color: rgb(2, 35, 2);
    color: white;
    text-align: left;
    cursor: pointer;
}
#submit{
    width: 50%;
    height: 60%;
    font-family: 'Roboto Serif', serif;
    font-size: 30px;
    border: 1px solid;
    border-color:rgb(6, 76, 6); 
    border-radius: 2px;
    background-color: rgb(150, 113, 46);
    color: white;
    text-align: center;
    cursor: pointer;
}
#submit:hover{
    background-color: olivedrab;
}




@media only screen and (max-width: 420px) {
    #logo{
        max-width: 2%;
        float: left;
    
    }
    nav{
        font-size: 1em;
        margin-right: 4em;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 1.5em;
    }
    .content{
        margin-top: 2em;
        font-size: 1em;
        line-height: 1.5em;
        margin-left: 2.5em;
        margin-right: 1em;
    }
    #img{
        max-width: 70%;
        margin-left: 2.5em;
    }
    .reservation{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        gap: 0em; 
        margin-top: 0em;
    }
    .labels{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.5em;
        align-items: center;
        margin-top: 0em;
    }
    #date{
        width:40%;
        height: 40%;
    }
    #date-time{
        width: 40%;
        height: 40%;

    }
    #select{
        width: 40%;
        height: 40%;
    }
    #submit{
        width: 40%;
            height: 40%;
    }
    

}
@media only screen and (max-width: 830px) {
    #logo{
        max-width: 80%;
        float: left;
    
    }
    .content{
        margin-top: 1em;
        font-size: 1.4em;
    }
    .labels{
        gap: 0.5em;
    }
    .reservation{
        margin-top: 4em;
    }

}
/* @media only screen and (max-width: 1326px) {
    #logo{
        max-width: 80%;
    }
    nav{
        font-size: 3em;
    }
    #img{
        ma
        margin-left: 2em;
        max-width: 100%;
    }
    .content{
        font-size: 2em;

    }
    .reservation{
        margin-top: 5em;
    }
} */